{% extends 'base.html' %}


{% block title %}Register{% endblock %}

{% block content %}

<div class="container col-sm-6 mt-1">
    <div class="row mx-auto p-2 border rounded">


        <h3>Sign Up</h3>
        <hr>
        <form action="" method="post" novalidate class="shadow p-5 mx-auto col-sm-12">
            {% if messages %}
            {% for msg in messages %}
            <p {% if msg.tags %} class="alert alert-{{msg.tags}}" {% endif %}>{{msg}}</p>
            {% endfor %}
            {% endif %}
            {% csrf_token %}
            {% for fm in form %}
            <div class="form-group mb-3">
                {{fm.label_tag}} {{fm}} <small class="text-danger">
                    {{fm.errors|striptags}}</small>
            </div>
            {% endfor %}
            <div class="text-center">
                <input type="submit" value="Sign Up" class="btn btn-success">
            </div>
            <br>
            <div class="text-center text-primary fw-bold">
                <small>
                    Existing User?<br>
                    <a href="{% url 'quizes:login' %}" class="text-danger">
                        Login
                    </a>
                </small>
            </div>
            {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
            <p class="alert alert-danger">{{error}}</p>
            {% endfor %}
            {% endif %}
        </form>

    </div>

</div>

{% endblock %}